@model SalesWebMVC.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id"/>
            <div class="form">
                <label asp-for="Seller.Name" class="form-label col-form-label"></label>
                <input asp-for="Seller.Name" class="form-control col-form-label" />
            </div><div class="form">
                <label asp-for="Seller.Email" class="form-label col-form-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div><div class="form">
                <label asp-for="Seller.BirthDate" class="form-label col-form-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div><div class="form">
                <label asp-for="Seller.BaseSalary" class="form-label col-form-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form">
                <label asp-for="Seller.DepartmentId" class="form-label col-form-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-cotrol"></select>
            </div>
            <div class="form">
                <input type="submit" value="Save" class="btn btn-primary my-4" />
            </div>
        </form>
    </div>
</div>